In [ ]:
# [+] SparkSession 설정
from pyspark.sql import SparkSession
spark = SparkSession.builder.master('local').appName('udf').getOrCreate()

In [ ]:
# 샘플 데이터: 이름 및 나이
data = [
    ('안현', 39),
    ('김영지', 22),
    ('이승희', 55),
    ('박지연', 33),
    ('정미원', 21),
    ('최민수', 39),
    ('홍수아', 47),
    ('송진우', 21),
    ('이현지', 58),
    ('김민수', 36)
]

In [ ]:
# [+] 스키마 정의
schema = ['name', 'age']

In [ ]:
# [+] 데이터프레임 생성
df = spark.createDataFrame(data=data, schema=schema)

In [ ]:
# [+] 데이터프레임 출력
df.show()

In [ ]:
# [+] Temporary View 생성
df.createOrReplaceTempView('people')

In [ ]:
# [+] UDF: 나이에 따른 카테고리 구분 함수
def age_category(age):
    if age < 35:
        return 'young'
    elif 35 <= age < 60:
        return 'adult'
    else:
        return 'senior'

In [ ]:
# [+] UDF 등록
spark.udf.register('age_category', age_category)

In [ ]:
# [+] SQL문 처리
spark.sql("SELECT name, age_category(age) AS category FROM people").show()